block content 
  h1= title
  p Welcome to your Dashboard #{userDetails.username}, You are now logged in as a #{userDetails.member ? 'VIP member' : 'standard member'}.  br
  br
  span #{userDetails.username}
  br
  span #{userDetails.member}
  br
  br
  if !userDetails.member
    a(href=`/catalog/user/dashboard/register_vip/${userDetails.username}` class="vip-link") Become a VIP member
    br
  br
  a(href="/catalog/user/logout") Logout