extends layout

block content
  div.dashboard-container
    div.dashboard-heading-container
      h1= title
      p Welcome to your Dashboard #{userDetails.username}, You are now logged in as a #{userDetails.member ? 'VIP member' : 'standard member'}.
    div.dashboard-message-container
      if userDetails.member
        span.dashboard-message-box-info 
        a(href=`/catalog/user/dashboard/new_message/${userDetails.username}` class="dashboard-new-message-link" )
          span.text-decoration Create a new message
      // Conditional rendering of the "become a VIP member" link
      if !userDetails.member
        span.dashboard-message-box-info Only VIP members can create a new message post
        a(href=`/catalog/user/dashboard/register_vip/${userDetails.username}` class="dashboard-vip-link") Become a VIP member
      div.dashboard-message-box
        if allMessages.length 
            each message in allMessages
              div.dashboard-message
                span.dashboard-message-title #{message.title} 
                span.dashboard-message-text #{message.text}
                if userDetails.member
                  div.dashboard-message-details
                    span.dashboard-message-author #{message.user.username}
                    span.dashboard-message-date #{message.timestampFormatted}
